  body {
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  #header {
    margin-top: 0px;
    margin-bottom: 1px;
    text-align: center;
    margin: 0 auto;
  }

  /*===main header===*/
  header {
    padding: 60px 0px;
    background-image: url(../blog/header2.png);
    background-position: center;
    border-bottom: 2px solid #723744;
    max-width: 800px;
    min-width: 800px;
    max-height: 90px;
    min-height: 90px;
  }

  /*===links bg===*/
  nav {
    background: #161616;
    max-width: 800px;
    min-width: 800px;
    margin: 0 auto;
    
  }

  nav ul {
    padding: 0;
    margin: 0 auto;
  }

  nav li {
    display: inline;
  }

  /*===links===*/
  nav a {
    color: #fff;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Pixels2';
    letter-spacing: 2px;
  }

  nav li a {
    padding: 0.1em 1em 0.1em 1.5em;
  }

  nav a:hover,
  nav a:active {
    color: #723744;
  }

  /*===content below links===*/
  #content {
    background-color: #161616;
    border-top: 2px solid #723744;
    max-width: 800px;
    min-width: 800px;
    min-height: 100vh;
  }

  @media only screen and (max-width:800px) {

    header,
    nav,
    #content {
      max-width: 99vw;
      min-width: 99vw;
    }
  }
