.bio {
  max-width: 750px;
  margin: auto;
  text-align: center;
  font-size: 1em;
}

.content {
  width: 80%;
  margin: 0 auto;
}

#img-float {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  width: 50%;
}

span {
  width: 100%;
  height: 1em;
  display: inline-block;
}

#links {
  background: #161616;
  margin: 0 auto;
}

/*===links===*/
#links a {
  color: #fff;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: 'pixels3';
  letter-spacing: 2px;
}

#links li a {
  padding: 0.1em 1em 0.1em 1.5em;
}

#links a:hover,
#links a:active {
  background-color: #181818;
  color: #723744;
}

.slash {
  background-color: #181818;
  color: #723744;
}

.bio-box {
  background: #0d0d14; /* Semi-transparent dark background */
  padding: 1px 10px 1px 10px;
  width: 70%; /* Adjust width to fit your design */
  margin: 20px auto; /* Centers the box */
  font-family: monospace; /* Pixel-style font */
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 0px; /* Soft neon glow */
  outline: 1px solid #723744;
  
}

.separator {
  margin: 0 8px; /* Adds space on both sides of the | */
  color: #723744; /* Optional: Change separator color */
  display: inline; /* Ensures the separator stays inline with text */
}

@media only screen and (max-width: 1080px) {

  .bio {
    max-width: 90%;
  }

  @media only screen and (max-width: 600px) {

    .bio {
      max-width: 90%;
    }

    #img-float {
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-radius: 5%;
      width: 80%;
    }
  }
}