}
@font-face{
  font-family: "Quicksand";
  src: url('Quicksand.otf') format('opentype');
}
.content2 {
	position: fixed;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
	text-shadow: 1px 1px 1px #000000;
}
a.one:link {
	font: 22px Quicksand;
	text-decoration: none;
    text-transform: uppercase;
	color: #FFFFFF
	;
}
a.one:hover{
	font: 22px Quicksand;
	text-decoration: none;
    text-transform: uppercase;
	color: #FFFFFF
	;
}
a.one:visited{
	font: 22px Quicksand;
	text-decoration: none;
    text-transform: uppercase;
	color: #FFFFFF
	;
}
h2 {
	font: 62px Quicksand;
	text-transform: uppercase;
	padding: 0.1em 0.4em;
	text-decoration: none;
	margin: 0 0 -0.3em;
	text-shadow: 1px 1px 1px black;
}
h3 {
	font: 32px Quicksand;
	text-transform: uppercase;
	padding: 0.1em 0.4em;
	text-decoration: none;
	margin: 0 0 -0.3em;
	text-shadow: 1px 1px 1px black;
    text-align: left;
    color: #b776ac;
}
h3C {
	font: 22px Quicksand;
	text-transform: none;
	text-decoration: none;
	text-shadow: 1px 1px 1px black;
    text-align: center;
}
.image {
	position: fixed;
	right: 10px;
	bottom: -5px;
	z-index: -1;
}