@font-face {
    font-family: "Quicksand";
    src: url('Quicksand.otf') format('opentype');
}

h1 {
    font: 62px Quicksand;
    text-transform: uppercase;
    padding: 0.1em 0.4em;
    text-decoration: underline;
    margin: 0 0 -0.3em;
    text-shadow: 1px 1px 1px black;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}

.content1 {
    display: flex;
    position: absolute;
}

.content2 {
    position: fixed;
    text-align: center;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 1px 1px 1px #000000;
}

a:link {
    font: 20px Quicksand;
    text-decoration: none;
    text-transform: none;
    color: #FFFFFF;
}

a:visited {
    font: 20px Quicksand;
    text-decoration: none;
    text-transform: none;
    color: #FFFFFF;
}

a:hover {
    font: 20px Quicksand;
    text-decoration: none;
    text-transform: none;
    color: #664a66;
}

h2 {
    font: 62px Quicksand;
    text-transform: uppercase;
    padding: 0.1em 0.4em;
    text-decoration: none;
    margin: 0 0 -0.3em;
    text-shadow: 1px 1px 1px black;
}

h2a {
    font: 24px Quicksand;
    text-transform: uppercase;
    padding: 0.1em 0.4em;
    text-decoration: none;
    margin: 0 0 -0.3em;
    text-shadow: 1px 1px 1px black;
}

h3 {
    font: 60px Quicksand;
    text-transform: uppercase;
    padding: 0.1em 0.4em;
    text-decoration: none;
    margin: 0 0 -0.3em;
    text-shadow: 1px 1px 1px black;
    text-align: left;
    color: #804b66;
}

h3C {
    font: 32px Quicksand;
    text-shadow: 1px 1px 1px black;
}

.image {
    position: fixed;
    right: 0px;
    bottom: -5px;
    z-index: -1;
}

form {
    background-color: #272727;
    width: 300px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: 31%;
}

input {
    all: unset;
    font: 16px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}

::placeholder {
    color: white;
    opacity: 0.4;
}

div {
    column-gap: 60px;
}