@font-face {
    font-family: 'Pixels';
    src: url(Content/Munro_reg.ttf);
}

body {
    background-color: #1a1a1a;
    font-size: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header {
    margin-top: 0px;
    margin-bottom: 1px;
    text-align: center;
    margin: 0 auto;
}

header {
    padding: 60px 0px;
    background-image: url(Content/header3.png);
    border-bottom: 1px solid #282B2D;
    max-width: 700px;
    min-width: 700px;
    max-height: 90px;
    min-height: 90px;
}

#logo h1 a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

#logo h1 a:hover {
    color: #fff;
}

/*===menu===*/
nav {
    background: #161616;
    max-width: 700px;
    min-width: 700px;
    margin: 0 auto;
}

nav ul {
    padding: 0;
    margin: 0 auto;
}

nav li {
    display: inline
}

nav a {
    color: #fff;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Pixels';
    text-shadow: 0 0 0px #723744;
    letter-spacing: 2px;
    border: 2px solid #723744;
}

nav li a {
    padding: 0.1em 1em 0.1em 1.5em;
    border-right: 1px solid #282B2D;
    border-left: 1px solid #282B2D;
}

nav a:hover,
nav a:active {
    background-color: #181818;
    color: #723744;
}
#content {
    padding: 0.5em 0px;
    background-color: #161616;
    border-top: 1px solid #282B2D;
    max-width: 700px;
    min-width: 700px;
    min-height: 100vh;
}
